@charset "UTF-8";
.contant{
    background-color: white;
    margin: 30px 20px 20px 260px;
    border-radius: 15px;
}

.contant .head{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

.head h1{
    font-size: 26px;
    margin: 0;
}

.contant .line{
    width: 97%;
    height: 1px;
    background-color: #707070;
    margin: -5px 15px;
}